Repository COS301-SE-2022/The-Au-Pair, pull requests merged in 2022-07, with the labels that each got.

#177 Remove IOS build
  .vscode/settings.json
  apps/the-au-pair/android/.idea/.gitignore
  apps/the-au-pair/ios/.gitignore
  apps/the-au-pair/ios/App/App.xcodeproj/project.pbxproj
  apps/the-au-pair/ios/App/App.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  apps/the-au-pair/ios/App/App.xcworkspace/contents.xcworkspacedata
  apps/the-au-pair/ios/App/App.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  apps/the-au-pair/ios/App/App/AppDelegate.swift
  apps/the-au-pair/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@1x.png
  apps/the-au-pair/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x-1.png
  apps/the-au-pair/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x.png
  apps/the-au-pair/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@3x.png
  apps/the-au-pair/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@1x.png
  apps/the-au-pair/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x-1.png
  apps/the-au-pair/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x.png
  apps/the-au-pair/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@3x.png
  apps/the-au-pair/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@1x.png
  apps/the-au-pair/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x-1.png
  apps/the-au-pair/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x.png
  apps/the-au-pair/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@3x.png
  apps/the-au-pair/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  apps/the-au-pair/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@2x.png
  apps/the-au-pair/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@3x.png
  apps/the-au-pair/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@1x.png
  apps/the-au-pair/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@2x.png
  apps/the-au-pair/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-83.5x83.5@2x.png
  apps/the-au-pair/ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/the-au-pair/ios/App/App/Assets.xcassets/Contents.json
  apps/the-au-pair/ios/App/App/Assets.xcassets/Splash.imageset/Contents.json
  apps/the-au-pair/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-1.png
  apps/the-au-pair/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-2.png
  apps/the-au-pair/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732.png
  apps/the-au-pair/ios/App/App/Base.lproj/LaunchScreen.storyboard
  apps/the-au-pair/ios/App/App/Base.lproj/Main.storyboard
  apps/the-au-pair/ios/App/App/Info.plist
  apps/the-au-pair/ios/App/App/capacitor.config.json
  apps/the-au-pair/ios/App/App/config.xml
  apps/the-au-pair/ios/App/Podfile
  package.json
Labels: scope:admin, priority:medium, status:ready, type:change, type:refactor

#179 Static Notifications
  apps/the-au-pair/src/assets/images/profile.jpg
  libs/parent-notifications/feature/.eslintrc.json
  libs/parent-notifications/feature/README.md
  libs/parent-notifications/feature/jest.config.js
  libs/parent-notifications/feature/project.json
  libs/parent-notifications/feature/src/index.ts
  libs/parent-notifications/feature/src/lib/parent-notifications-feature.module.ts
  libs/parent-notifications/feature/src/lib/parent-notifications-routing.module.ts
  libs/parent-notifications/feature/src/lib/parent-notifications.component.html
  libs/parent-notifications/feature/src/lib/parent-notifications.component.scss
  libs/parent-notifications/feature/src/lib/parent-notifications.component.spec.ts
  libs/parent-notifications/feature/src/lib/parent-notifications.component.ts
  libs/parent-notifications/feature/src/test-setup.ts
  libs/parent-notifications/feature/tsconfig.json
  libs/parent-notifications/feature/tsconfig.lib.json
  libs/parent-notifications/feature/tsconfig.spec.json
  libs/shell/feature/src/lib/shell-routing.module.ts
  tsconfig.base.json
  workspace.json
Labels: scope:ui, scope:client, priority:high, status:ready, type:chore

#181 ✨(State Manager) : Implemented State Manager
  apps/the-au-pair/src/app/app.module.ts
  libs/shared/ngxs/actions.ts
  libs/shared/ngxs/state.ts
  package-lock.json
  package.json
Labels: type:enhancement, scope:client, priority:high, status:ready

#186 ✨(API) : Login and Registration Functionality
  Server/pom.xml
  Server/src/main/java/Database/TheAuPair/Controllers/UserController.java
  Server/src/main/java/Database/TheAuPair/Models/User.java
  Server/src/main/java/Database/TheAuPair/Services/SecurityService.java
  Server/src/main/java/Database/TheAuPair/Services/UserService.java
  Server/src/test/java/Database/TheAuPair/UserRepositoryTests.java
  libs/edit-parent-profile/feature/src/lib/edit-parent-profile.component.spec.ts
  libs/edit-parent-profile/feature/src/lib/edit-parent-profile.component.ts
  libs/parent-dashboard/feature/src/lib/parent-dashboard.ts
  libs/parent-profile/feature/src/lib/parent-profile.component.ts
  libs/shared/api/api.service.ts
  libs/shared/interfaces/interfaces.ts
Labels: scope:api, priority:high, status:ready, type:feature

#204 ✨(API) : Added Admin Console Fucntions
  Server/src/main/java/Database/TheAuPair/Controllers/UserController.java
  Server/src/main/java/Database/TheAuPair/Controllers/auPairController.java
  Server/src/main/java/Database/TheAuPair/Repositories/UserRepository.java
  Server/src/main/java/Database/TheAuPair/Services/UserService.java
  Server/src/main/java/Database/TheAuPair/Services/auPairService.java
  libs/shared/api/api.service.ts
Labels: scope:api, priority:high, status:ready, type:feature

#201 Firebase Notification setup
  apps/the-au-pair/android/.idea/.gitignore
  apps/the-au-pair/android/app/build.gradle
  apps/the-au-pair/android/app/capacitor.build.gradle
  apps/the-au-pair/android/app/google-services.json
  apps/the-au-pair/android/app/src/main/AndroidManifest.xml
  apps/the-au-pair/android/app/src/main/assets/capacitor.config.json
  apps/the-au-pair/android/app/src/main/assets/capacitor.plugins.json
  apps/the-au-pair/android/app/src/main/java/com/tuks/theaupair/MainActivity.java
  apps/the-au-pair/android/app/src/main/res/values/strings.xml
  apps/the-au-pair/android/capacitor.settings.gradle
  apps/the-au-pair/capacitor.config.ts
  apps/the-au-pair/package-lock.json
  apps/the-au-pair/package.json
  apps/the-au-pair/project.json
  libs/home/feature/.eslintrc.json
  libs/home/feature/README.md
  libs/home/feature/jest.config.js
  libs/home/feature/project.json
  libs/home/feature/src/index.ts
  libs/home/feature/src/lib/home-routing.module.ts
  libs/home/feature/src/lib/home.module.ts
  libs/home/feature/src/lib/home.page.html
  libs/home/feature/src/lib/home.page.scss
  libs/home/feature/src/lib/home.page.ts
  libs/home/feature/src/test-setup.ts
  libs/home/feature/tsconfig.json
  libs/home/feature/tsconfig.lib.json
  libs/home/feature/tsconfig.spec.json
  libs/login/feature/src/lib/login.component.ts
  libs/shell/feature/src/lib/shell-routing.module.ts
  package-lock.json
  package.json
  tsconfig.base.json
  workspace.json
Labels: type:enhancement, scope:admin, scope:api, scope:database, scope:client, priority:high, status:ready, type:feature

#207 👽️(API/Feature) : Login and Registration API Integration
  Server/src/main/java/Database/TheAuPair/Controllers/ParentController.java
  Server/src/main/java/Database/TheAuPair/Controllers/auPairController.java
  Server/src/main/java/Database/TheAuPair/Services/ParentService.java
  Server/src/main/java/Database/TheAuPair/Services/SecurityService.java
  Server/src/main/java/Database/TheAuPair/Services/auPairService.java
  libs/login/feature/src/lib/login.component.html
  libs/login/feature/src/lib/login.component.scss
  libs/login/feature/src/lib/login.component.spec.ts
  libs/login/feature/src/lib/login.component.ts
  libs/register/feature/src/lib/register.component.html
  libs/register/feature/src/lib/register.component.scss
  libs/register/feature/src/lib/register.component.spec.ts
  libs/register/feature/src/lib/register.component.ts
  libs/shared/api/api.service.ts
Labels: scope:api, scope:client, priority:high, status:ready, type:feature

#208 Admin Console Page
  Server/src/main/java/Database/TheAuPair/Repositories/UserRepository.java
  Server/src/main/java/Database/TheAuPair/Services/UserService.java
  libs/admin-console/feature/.eslintrc.json
  libs/admin-console/feature/README.md
  libs/admin-console/feature/jest.config.js
  libs/admin-console/feature/project.json
  libs/admin-console/feature/src/index.ts
  libs/admin-console/feature/src/lib/admin-console-feature.module.ts
  libs/admin-console/feature/src/lib/admin-console-routing.module.ts
  libs/admin-console/feature/src/lib/admin-console.component.html
  libs/admin-console/feature/src/lib/admin-console.component.scss
  libs/admin-console/feature/src/lib/admin-console.component.spec.ts
  libs/admin-console/feature/src/lib/admin-console.component.ts
  libs/admin-console/feature/src/test-setup.ts
  libs/admin-console/feature/tsconfig.json
  libs/admin-console/feature/tsconfig.lib.json
  libs/admin-console/feature/tsconfig.spec.json
  libs/login/feature/src/lib/login.component.ts
  libs/shared/components/admin-navbar/.eslintrc.json
  libs/shared/components/admin-navbar/README.md
  libs/shared/components/admin-navbar/jest.config.js
  libs/shared/components/admin-navbar/project.json
  libs/shared/components/admin-navbar/src/index.ts
  libs/shared/components/admin-navbar/src/lib/navbar.component.html
  libs/shared/components/admin-navbar/src/lib/navbar.component.scss
  libs/shared/components/admin-navbar/src/lib/navbar.component.spec.ts
  libs/shared/components/admin-navbar/src/lib/navbar.component.ts
  libs/shared/components/admin-navbar/src/lib/navbar.module.ts
  libs/shared/components/admin-navbar/src/test-setup.ts
  libs/shared/components/admin-navbar/tsconfig.json
  libs/shared/components/admin-navbar/tsconfig.lib.json
  libs/shared/components/admin-navbar/tsconfig.spec.json
  libs/shell/feature/src/lib/shell-routing.module.ts
  tsconfig.base.json
  workspace.json
Labels: scope:admin, scope:api, scope:client, priority:high, status:needs-tests, type:feature

#213 💄(UI) Favicon and Display name change
  apps/the-au-pair/src/assets/icon/favicon.png
  apps/the-au-pair/src/index.html
Labels: scope:ui, scope:design, priority:low, type:change, type:cosmetic

#215 ✅ Updated tests and fixed date range feaature
  libs/au-pair-cost/feature/src/lib/au-pair-cost.component.spec.ts
  libs/au-pair-cost/feature/src/lib/au-pair-cost.component.ts
  libs/au-pair-dashboard/feature/src/lib/au-pair-dashboard.component.spec.ts
Labels: scope:ui, scope:tests, priority:high, status:ready, type:bug, type:fix

#210 ✨(NGXS) : State implementation
  Server/src/main/java/Database/TheAuPair/Models/Child.java
  apps/the-au-pair/src/app/app.module.ts
  libs/add-child/feature/src/lib/add-child.component.spec.ts
  libs/add-child/feature/src/lib/add-child.component.ts
  libs/admin-console/feature/src/lib/admin-console.component.html
  libs/admin-console/feature/src/lib/admin-console.component.spec.ts
  libs/admin-console/feature/src/lib/admin-console.component.ts
  libs/au-pair-cost/feature/src/lib/au-pair-cost.component.spec.ts
  libs/au-pair-cost/feature/src/lib/au-pair-cost.component.ts
  libs/au-pair-dashboard/feature/src/lib/au-pair-dashboard.component.spec.ts
  libs/au-pair-dashboard/feature/src/lib/au-pair-dashboard.component.ts
  libs/au-pair-schedule/feature/src/lib/au-pair-schedule.component.spec.ts
  libs/au-pair-schedule/feature/src/lib/au-pair-schedule.component.ts
  libs/children-dashboard/feature/src/lib/children-dashboard.component.spec.ts
  libs/children-dashboard/feature/src/lib/children-dashboard.component.ts
  libs/edit-child/feature/src/lib/edit-child.component.spec.ts
  libs/edit-child/feature/src/lib/edit-child.component.ts
  libs/login/feature/src/lib/login.component.spec.ts
  libs/login/feature/src/lib/login.component.ts
  libs/parent-add-activity/feature/src/lib/parent-add-activity-feature.module.ts
  libs/parent-add-activity/feature/src/lib/parent-add-activity.component.spec.ts
  libs/parent-add-activity/feature/src/lib/parent-add-activity.component.ts
  libs/parent-dashboard/feature/src/lib/au-pair-rating-modal/au-pair-rating-modal.component.spec.ts
  libs/parent-dashboard/feature/src/lib/au-pair-rating-modal/au-pair-rating-modal.component.ts
  libs/parent-dashboard/feature/src/lib/parent-dashboard.component.spec.ts
  libs/parent-dashboard/feature/src/lib/parent-dashboard.html
  libs/parent-dashboard/feature/src/lib/parent-dashboard.ts
  libs/schedule/feature/src/lib/schedule.component.spec.ts
  libs/schedule/feature/src/lib/schedule.ts
  libs/shared/interfaces/interfaces.ts
  libs/shared/ngxs/actions.ts
  libs/shared/ngxs/state.ts
  libs/shell/feature/src/lib/shell.module.ts
  package-lock.json
  package.json
Labels: scope:client, priority:high, status:ready, type:feature

#220 Parent Schedule children select
  libs/parent-add-activity/feature/src/lib/parent-add-activity.component.html
  libs/parent-add-activity/feature/src/lib/parent-add-activity.component.ts
  libs/schedule/feature/src/lib/schedule-feature.module.ts
  libs/schedule/feature/src/lib/schedule.html
  libs/schedule/feature/src/lib/schedule.scss
  libs/schedule/feature/src/lib/schedule.ts
Labels: scope:client, priority:medium, status:ready, type:cosmetic

#221 ✨(Feature, UI, API, Tests) : Created Explore Feature
  Server/src/main/java/Database/TheAuPair/Controllers/auPairController.java
  Server/src/main/java/Database/TheAuPair/Models/User.java
  Server/src/main/java/Database/TheAuPair/Services/UserService.java
  Server/src/main/java/Database/TheAuPair/Services/auPairService.java
  Server/src/test/java/Database/TheAuPair/UserRepositoryTests.java
  apps/the-au-pair/src/assets/images/placeholder-profile.jpg
  libs/au-pair-profile/feature/src/lib/au-pair-profile-feature.module.ts
  libs/au-pair-profile/feature/src/lib/au-pair-profile.component.html
  libs/au-pair-profile/feature/src/lib/au-pair-profile.component.scss
  libs/au-pair-profile/feature/src/lib/au-pair-profile.component.ts
  libs/au-pair-schedule/feature/src/lib/schedule-modal/schedule-modal.component.html
  libs/edit-au-pair-profile/feature/src/lib/edit-au-pair-profile-feature.module.ts
  libs/edit-au-pair-profile/feature/src/lib/edit-au-pair-profile.component.html
  libs/edit-au-pair-profile/feature/src/lib/edit-au-pair-profile.component.scss
  libs/edit-au-pair-profile/feature/src/lib/edit-au-pair-profile.component.spec.ts
  libs/edit-au-pair-profile/feature/src/lib/edit-au-pair-profile.component.ts
  libs/edit-parent-profile/feature/src/lib/edit-parent-profile.component.html
  libs/edit-parent-profile/feature/src/lib/edit-parent-profile.component.scss
  libs/edit-parent-profile/feature/src/lib/edit-parent-profile.component.spec.ts
  libs/edit-parent-profile/feature/src/lib/edit-parent-profile.component.ts
  libs/explore/feature/.eslintrc.json
  libs/explore/feature/README.md
  libs/explore/feature/jest.config.js
  libs/explore/feature/project.json
  libs/explore/feature/src/index.ts
  libs/explore/feature/src/lib/expand-modal/expand-modal.component.html
  libs/explore/feature/src/lib/expand-modal/expand-modal.component.scss
  libs/explore/feature/src/lib/expand-modal/expand-modal.component.spec.ts
  libs/explore/feature/src/lib/expand-modal/expand-modal.component.ts
  libs/explore/feature/src/lib/explore-feature.module.ts
  libs/explore/feature/src/lib/explore-routing.module.ts
  libs/explore/feature/src/lib/explore.component.html
  libs/explore/feature/src/lib/explore.component.scss
  libs/explore/feature/src/lib/explore.component.spec.ts
  libs/explore/feature/src/lib/explore.component.ts
  libs/explore/feature/src/test-setup.ts
  libs/explore/feature/tsconfig.json
  libs/explore/feature/tsconfig.lib.json
  libs/explore/feature/tsconfig.spec.json
  libs/parent-dashboard/feature/src/lib/au-pair-rating-modal/au-pair-rating-modal.component.html
  libs/parent-dashboard/feature/src/lib/parent-dashboard.ts
  libs/parent-profile/feature/src/lib/parent-profile.component.html
  libs/parent-profile/feature/src/lib/parent-profile.component.scss
  libs/parent-profile/feature/src/lib/parent-profile.component.ts
  libs/register/feature/src/lib/register.component.ts
  libs/shared/api/api.service.ts
  libs/shared/components/aupair-navbar/src/lib/navbar.component.html
  libs/shared/interfaces/interfaces.ts
  libs/shell/feature/src/lib/shell-routing.module.ts
  tsconfig.base.json
  workspace.json
Labels: scope:ui, scope:api, scope:database, scope:tests, scope:client, priority:high, status:ready, type:feature, type:tests

#222 ✨👽️ (Feature + API) : live location tracking feature and enhancements added to other pages
  Server/src/main/java/Database/TheAuPair/Models/auPair.java
  Server/src/test/java/Database/TheAuPair/auPairRepositoryTests.java
  apps/the-au-pair/src/app/app.component.spec.ts
  apps/the-au-pair/src/app/app.component.ts
  apps/the-au-pair/src/app/app.module.ts
  libs/add-child/feature/src/lib/add-child.component.scss
  libs/au-pair-cost/feature/src/lib/au-pair-cost.component.ts
  libs/au-pair-dashboard/feature/src/lib/au-pair-dashboard.component.html
  libs/au-pair-dashboard/feature/src/lib/au-pair-dashboard.component.ts
  libs/au-pair-profile/feature/src/lib/au-pair-profile.component.ts
  libs/edit-au-pair-profile/feature/src/lib/edit-au-pair-profile.component.spec.ts
  libs/edit-au-pair-profile/feature/src/lib/edit-au-pair-profile.component.ts
  libs/explore/feature/src/lib/expand-modal/expand-modal.component.ts
  libs/login/feature/src/lib/login.component.ts
  libs/parent-dashboard/feature/src/lib/au-pair-rating-modal/au-pair-rating-modal.component.ts
  libs/parent-dashboard/feature/src/lib/parent-dashboard.html
  libs/register/feature/src/lib/register.component.ts
  libs/schedule/feature/src/lib/schedule.html
  libs/shared/interfaces/interfaces.ts
  libs/shared/ngxs/actions.ts
  libs/shared/ngxs/state.ts
  libs/shell/feature/src/lib/shell-routing.module.ts
  libs/track-au-pair/feature/.eslintrc.json
  libs/track-au-pair/feature/README.md
  libs/track-au-pair/feature/jest.config.js
  libs/track-au-pair/feature/project.json
  libs/track-au-pair/feature/src/index.ts
  libs/track-au-pair/feature/src/lib/track-au-pair-feature.module.ts
  libs/track-au-pair/feature/src/lib/track-au-pair-routing.module.ts
  libs/track-au-pair/feature/src/lib/track-au-pair.component.html
  libs/track-au-pair/feature/src/lib/track-au-pair.component.scss
  libs/track-au-pair/feature/src/lib/track-au-pair.component.spec.ts
  libs/track-au-pair/feature/src/lib/track-au-pair.component.ts
  libs/track-au-pair/feature/src/test-setup.ts
  libs/track-au-pair/feature/tsconfig.json
  libs/track-au-pair/feature/tsconfig.lib.json
  libs/track-au-pair/feature/tsconfig.spec.json
  package-lock.json
  package.json
  tsconfig.base.json
  workspace.json
Labels: type:enhancement, scope:api, scope:client, priority:high, status:needs-tests, type:feature

#232 🎨(API) : Updated controllers
  Server/src/main/java/Database/TheAuPair/Controllers/ActivityController.java
  Server/src/main/java/Database/TheAuPair/Controllers/ChildController.java
  Server/src/main/java/Database/TheAuPair/Controllers/ParentController.java
  Server/src/main/java/Database/TheAuPair/Controllers/UserController.java
  Server/src/main/java/Database/TheAuPair/Controllers/auPairController.java
  Server/src/main/java/Database/TheAuPair/Controllers/hoursLoggedController.java
  Server/src/main/java/Database/TheAuPair/Controllers/medAidController.java
Labels: type:enhancement, scope:api, priority:low, status:ready

#228 ✨ Added new registration fields and data
  Server/src/main/java/Database/TheAuPair/Controllers/UserController.java
  Server/src/main/java/Database/TheAuPair/Controllers/auPairController.java
  Server/src/main/java/Database/TheAuPair/Models/User.java
  Server/src/main/java/Database/TheAuPair/Services/UserService.java
  Server/src/test/java/Database/TheAuPair/UserRepositoryTests.java
  libs/au-pair-profile/feature/src/lib/au-pair-profile.component.ts
  libs/edit-au-pair-profile/feature/src/lib/edit-au-pair-profile.component.spec.ts
  libs/edit-au-pair-profile/feature/src/lib/edit-au-pair-profile.component.ts
  libs/edit-parent-profile/feature/src/lib/edit-parent-profile.component.spec.ts
  libs/edit-parent-profile/feature/src/lib/edit-parent-profile.component.ts
  libs/explore/feature/src/lib/expand-modal/expand-modal.component.html
  libs/explore/feature/src/lib/expand-modal/expand-modal.component.ts
  libs/explore/feature/src/lib/explore.component.html
  libs/explore/feature/src/lib/explore.component.ts
  libs/parent-dashboard/feature/src/lib/parent-dashboard.ts
  libs/parent-profile/feature/src/lib/parent-profile.component.html
  libs/parent-profile/feature/src/lib/parent-profile.component.ts
  libs/register/feature/src/lib/register-feature.module.ts
  libs/register/feature/src/lib/register.component.html
  libs/register/feature/src/lib/register.component.spec.ts
  libs/register/feature/src/lib/register.component.ts
  libs/shared/components/location-field/src/lib/location-field.component.ts
  libs/shared/components/long-field/.eslintrc.json
  libs/shared/components/long-field/README.md
  libs/shared/components/long-field/jest.config.js
  libs/shared/components/long-field/project.json
  libs/shared/components/long-field/src/index.ts
  libs/shared/components/long-field/src/lib/long-field.component.html
  libs/shared/components/long-field/src/lib/long-field.component.scss
  libs/shared/components/long-field/src/lib/long-field.component.spec.ts
  libs/shared/components/long-field/src/lib/long-field.component.ts
  libs/shared/components/long-field/src/lib/long-field.module.ts
  libs/shared/components/long-field/src/test-setup.ts
  libs/shared/components/long-field/tsconfig.json
  libs/shared/components/long-field/tsconfig.lib.json
  libs/shared/components/long-field/tsconfig.spec.json
  libs/shared/interfaces/interfaces.ts
  libs/track-au-pair/feature/src/lib/track-au-pair.component.ts
  tsconfig.base.json
  workspace.json
Labels: type:enhancement, scope:ui, scope:design, scope:api, scope:database, priority:high, status:ready, type:change

#233 ✅🐛 (Tests + bug fix): Added integration cypress tests
  apps/the-au-pair/src/app/app.component.ts
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/parent-integration.spec.js
  cypress/integration/user-integration-tests.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  libs/track-au-pair/feature/src/lib/track-au-pair.component.ts
  package-lock.json
  package.json
Labels: scope:tests, scope:client, priority:high, status:ready, type:fix, type:tests

#243 ✅ (testing) : Cypress integration testing for au pairs and admins
  Server/src/main/java/Database/TheAuPair/Repositories/ChildRepository.java
  cypress/integration/admin-integration-tests.spec.js
  cypress/integration/aupair-integration-tests.spec.js
  cypress/integration/parent-integration.spec.js
Labels: scope:tests, priority:high, status:ready, type:tests

#245 🐛(API) : Controller Revert
  Server/src/main/java/Database/TheAuPair/Controllers/ActivityController.java
  Server/src/main/java/Database/TheAuPair/Controllers/ChildController.java
  Server/src/main/java/Database/TheAuPair/Controllers/NotificationsController.java
  Server/src/main/java/Database/TheAuPair/Controllers/ParentController.java
  Server/src/main/java/Database/TheAuPair/Controllers/UserController.java
  Server/src/main/java/Database/TheAuPair/Controllers/auPairController.java
  Server/src/main/java/Database/TheAuPair/Controllers/hoursLoggedController.java
  Server/src/main/java/Database/TheAuPair/Controllers/medAidController.java
Labels: scope:api, priority:high, status:ready, type:fix

#242 ✨(Feature, API, UI, Testing) : Created the Hiring Feature
  Server/src/main/java/Database/TheAuPair/Controllers/ContractController.java
  Server/src/main/java/Database/TheAuPair/Models/Contract.java
  Server/src/main/java/Database/TheAuPair/Repositories/ContractRepository.java
  Server/src/main/java/Database/TheAuPair/Services/ContractService.java
  Server/src/main/java/Database/TheAuPair/TheAuPairApplication.java
  Server/src/test/java/Database/TheAuPair/ContractRepositoryTests.java
  apps/the-au-pair/src/styles.scss
  libs/au-pair-dashboard/feature/src/lib/au-pair-dashboard.component.html
  libs/au-pair-dashboard/feature/src/lib/au-pair-dashboard.component.scss
  libs/au-pair-dashboard/feature/src/lib/au-pair-dashboard.component.spec.ts
  libs/au-pair-dashboard/feature/src/lib/au-pair-dashboard.component.ts
  libs/edit-au-pair-profile/feature/src/lib/edit-au-pair-profile.component.html
  libs/edit-au-pair-profile/feature/src/lib/edit-au-pair-profile.component.ts
  libs/edit-parent-profile/feature/src/lib/edit-parent-profile.component.html
  libs/edit-parent-profile/feature/src/lib/edit-parent-profile.component.ts
  libs/explore/feature/src/lib/expand-modal/expand-modal.component.html
  libs/explore/feature/src/lib/expand-modal/expand-modal.component.spec.ts
  libs/explore/feature/src/lib/expand-modal/expand-modal.component.ts
  libs/explore/feature/src/lib/explore.component.ts
  libs/hire-requests/feature/.eslintrc.json
  libs/hire-requests/feature/README.md
  libs/hire-requests/feature/jest.config.js
  libs/hire-requests/feature/project.json
  libs/hire-requests/feature/src/index.ts
  libs/hire-requests/feature/src/lib/hire-requests-feature.module.ts
  libs/hire-requests/feature/src/lib/hire-requests-routing.module.ts
  libs/hire-requests/feature/src/lib/hire-requests.component.html
  libs/hire-requests/feature/src/lib/hire-requests.component.scss
  libs/hire-requests/feature/src/lib/hire-requests.component.spec.ts
  libs/hire-requests/feature/src/lib/hire-requests.component.ts
  libs/hire-requests/feature/src/test-setup.ts
  libs/hire-requests/feature/tsconfig.json
  libs/hire-requests/feature/tsconfig.lib.json
  libs/hire-requests/feature/tsconfig.spec.json
  libs/parent-dashboard/feature/src/lib/au-pair-rating-modal/au-pair-rating-modal.component.ts
  libs/parent-dashboard/feature/src/lib/parent-dashboard.component.spec.ts
  libs/parent-dashboard/feature/src/lib/parent-dashboard.html
  libs/parent-dashboard/feature/src/lib/parent-dashboard.scss
  libs/parent-dashboard/feature/src/lib/parent-dashboard.ts
  libs/shared/api/api.service.ts
  libs/shared/interfaces/interfaces.ts
  libs/shared/ngxs/state.ts
  libs/shell/feature/src/lib/shell-routing.module.ts
  package-lock.json
  package.json
  tsconfig.base.json
  workspace.json
Labels: scope:ui, scope:api, scope:database, scope:tests, scope:client, scope:repository, priority:high, status:ready, type:feature, type:tests

#248 Login refresh
  libs/login/feature/src/lib/login.component.ts
Labels: scope:ui, scope:client, priority:high, status:ready, type:fix

#250 ✅ (Tests) : Fixed integration tests to run in batches
  cypress/integration/aupair-integration-tests.spec.js
  cypress/integration/parent-integration.spec.js
Labels: scope:tests, priority:high, status:ready, type:tests

#251 👽️🐛(API+Bugs) Fixed locations and added ban checks
  Server/src/main/java/Database/TheAuPair/Services/UserService.java
  Server/src/test/java/Database/TheAuPair/ContractRepositoryTests.java
  libs/au-pair-cost/feature/src/lib/au-pair-cost.component.html
  libs/au-pair-cost/feature/src/lib/au-pair-cost.component.ts
  libs/au-pair-dashboard/feature/src/lib/au-pair-dashboard.component.spec.ts
  libs/register/feature/src/lib/register.component.ts
Labels: type:enhancement, scope:api, scope:tests, priority:high, status:ready, type:bug, type:fix

#252 🚑️ (Hotfix) : Hotfix for filtering by distance and as well as registering bugs
  cypress/integration/parent-integration.spec.js
  libs/explore/feature/src/lib/explore.component.ts
  libs/parent-dashboard/feature/src/lib/parent-dashboard.html
  libs/register/feature/src/lib/register.component.ts
Labels: scope:client, priority:high, status:ready, type:fix
